* {
    padding:0;
    margin:0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    outline: none;
}

h2 {
    padding-bottom: 0px;
}

h4 {
    padding-bottom: 6px;
}

.icon-wrapper .social-icon {
    color: #fff !important;
    border: 1px solid rgba(0, 0, 0, 0.2);;
}

.icon-wrapper .si-twitter {
    background-color: #00ACEE !important;
}

.icon-wrapper .si-github {
    background-color: #800080 !important;
}

.icon-wrapper .si-linkedin {
    background-color: #0E76A8 !important;
}

.icon-wrapper .si-gplus {
    background-color: #DD4B39 !important;
}


.container .row {
    margin: 0px;
}

.skills-section {
    background: #eeeeee;
    color: #474d5d;
}

.skills-section h4 {
	font-weight: 700;
    text-transform: uppercase;
    font-size: 19px;
    line-height: 24px;
    padding-bottom: 6px;
    margin: 0px;
    color: #444;
}

.skills-section p {
	color: #84868d;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    font-weight: 400;
    padding-bottom: 22px;
    margin: 0px;
}

.featured {
    overflow: hidden;
    margin: 0 auto !important;
    height: 710px;
}

.profile-pic {
    width: 125px;
    height: 125px;
    background-image: url('../images/ceo-profile-pic-sm.jpg');
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.icon-phone-sign {
    font-size: 22px;
}

.button i.icon-phone-sign  {
    position: relative;
    top: 3px;
    line-height: 1;
    margin-right: 5px;
    width: 30px;
    text-align: center;
}

.navbar-nav {
    margin: 0 auto;
    text-align: center;
    float: none;
}

.navbar-nav > li {
    float: none;
    display: inline;
}

.arrow-light {
    background: url(../images/arrow-left-light.png) no-repeat 0 23px;
}

.button.button-border.button-light {
    background-color: rgba(0, 81, 177, 0.6);
    border-color: transparent;
    color: #fff;
    text-shadow: none;
}

.button.button-border.button-light:hover {
    background-color: rgba(0, 81, 177, 0.9);
    color: #fff;
    text-shadow: none;
}

.heading-border {
    content: '';
    display: block;
    margin-top: 30px;
    width: 100px;
    border-top: 2px solid #fff;
}


.featured-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    text-align: center;
    padding: 30px 0 30px;
    max-width: 960px;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.2);
    zoom: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-right: auto;
    margin-left: auto; 
}

.featured-wrap h1 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    line-height: 90px;
    margin: 0px;
    color: #fff;
}

.featured-wrap h2 {
    font-size: 32px;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    line-height: 38px;
    font-weight: 400;
    
    margin: 0px;
    color: #fff;
}

.parallax-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
}

.grid-overlay {
    background: transparent url('../images/grid.png') repeat;
}

div.parallax-overlay {
    background-color: rgba(0, 81, 177, 0.6);
}

.black-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
}

div.black-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.featured-overlay {
    position: absolute;
    width: 76%;
    height: 68%;
    top: 24%;
    left: 12%;
    border-radius: 25px;
    -webkit-backface-visibility: hidden;
}

div.featured-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

#header {
    margin-top: 0px;
    position: static;
    left: 0px;
    right: 0px;
}

#header-wrapper {
    margin-top: 0px;
    position: relative;
    z-index: 15;
}


#header.sticky-header .primary-menu a {
    color: #000;
    line-height: 12px;
    font-weight: 600;
}

#header.sticky-header .navbar-nav>li>a:hover {
    box-shadow: 0 -4px 0 #0051b1 inset;
}

.primary-menu {
    margin: 0px auto;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.primary-menu a {
    text-decoration: none;
    color: #fff;
    outline: none;
    padding: 22px 25px;
    line-height: 18px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
}

.navbar-nav>li>a:hover {
    box-shadow: 0 -4px 0 #fff inset;
}


/*----------------------------------------------------
Experience Section 
------------------------------------------------------*/

#section-experience h2{
   /* color:#0051b1;*/
}
#section-experience p{
    color:#84868d;
    /*font-size:13px;*/
    line-height:18px;
}
#section-experience .heading p{
    padding-bottom:41px;
}

#section-experience h4{
    font-weight:700;
}

.arrowpart {
    float: left;
    width: 15px;
    height: 50px;
}

#section-experience .arrowpart{
    background:url(../images/arrow-left-light.png) no-repeat 0 23px;
}

#section-education .arrowpart {
    background: url(../images/arrow-left.png) no-repeat 0 23px;
}

.snippet{
    background:#fafafa;
    border-bottom:solid 4px #e8e7e7;
    width: auto;
    padding: 22px 47px 6px 47px;
    margin-left: 15px;
    text-align: left;
}

#section-education .snippet {
    background: #f3f3f3;
    border-bottom: solid 4px #eeeeee;
}

.rightarea{
    border-left-color:#e5e4e4;
    border-left: solid 1px #eaeaea;
    padding-bottom: 47px;
}

.workYear {
    font-size: 17px;
    color: #fff;
    background: #0051b1;
    text-align: center;
    padding: 30px 0px;
    border-radius: 50%;
    font-weight:700;
}


@media screen and (min-width: 1200px) {
    .workYear{
        width:140px;
        height:140px;
    }
}

.footer-widgets-wrap {
    position: relative;
    padding: 80px 0;
}

#section-portfolio h2, #section-portfolio span {
    color: #fff;
}

#section-portfolio .heading-block:after {
    content: '';
    display: block;
    margin-top: 20px;
    width: 40px;
    border-top: 2px solid #fff;
}


.portfolio-desc h3 a, .portfolio-desc span a {
    color: #fff;
}

#section-contact .emphasis-title h2 {
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 30px 0;
}

#section-contact .button.button-border.button-light {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    text-shadow: none;
}

#section-contact .button.button-border.button-light:hover {
    background-color: rgba(0, 81, 177, 0.9);
    color: #fff;
    text-shadow: none;
}



#copyrights  .copyrights-menu a {
    display: inline-block;
    margin: 0 5px;
    color: #fff;
}

