.skills-section {
    background: #eeeeee;
    color: #474d5d;
}

.skills-section h4 {
	font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    line-height: 24px;
    padding-bottom: 6px;
    margin: 0px;
    color: #444;
}

.skills-section p {
	color: #84868d;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-bottom: 22px;
    margin: 0px;
}

.featured {
    overflow: hidden;
    margin: 0 auto !important;
    width: 1425px;
    height: 680px;
}

.profile-pic {
    width: 125px;
    height: 125px;
    background-image: url('../images/ceo-profile-pic-sm.jpg');
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.icon-phone-sign {
    font-size: 22px;
}

.button i.icon-phone-sign  {
    position: relative;
    top: 3px;
    line-height: 1;
    margin-right: 5px;
    width: 30px;
    text-align: center;
}

.button.button-border.button-light {
    background-color: rgba(0, 81, 177, 0.6);
    border-color: transparent;
    color: #fff;
    text-shadow: none;
}

.button.button-border.button-light:hover {
    background-color: rgba(0, 81, 177, 0.9);
    color: #fff;
    text-shadow: none;
}

.heading-border {
    content: '';
    display: block;
    margin-top: 30px;
    width: 100px;
    border-top: 2px solid #fff;
}


.featured-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    text-align: center;
    padding: 30px 0 30px;
    max-width: 960px;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.2);
    zoom: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-right: auto;
    margin-left: auto; 
}

.featured-wrap h1 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    line-height: 90px;
    margin: 0px;
    color: #fff;
}

.featured-wrap h2 {
    font-size: 32px;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    line-height: 38px;
    font-weight: 400;
    
    margin: 0px;
    color: #fff;
}

.parallax-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
}

.grid-overlay {
    background: transparent url('../images/grid.png') repeat;
}

div.parallax-overlay {
    background-color: rgba(0, 81, 177, 0.6);
}

.black-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
}

div.black-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.featured-overlay {
    position: absolute;
    width: 76%;
    height: 68%;
    top: 24%;
    left: 12%;
    border-radius: 25px;
    -webkit-backface-visibility: hidden;
}

div.featured-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

/*@media screen and (min-width: 1200px) {
.workYear {
    width: 140px;
    height: 140px;
    padding-top: 50px;
}
}

.workYear {
    font-size: 17px;
    color: #fff;
    background: #ff675f;
    text-align: center;
    padding: 40px 0 40px 0;
    border-radius: 50%;
}

.arrowpart {
    float: left;
    width: 15px;
    height: 50px;
    background: url(../images/arrow-left.png) no-repeat 0 23px;
}

.exCon {
    width: auto;
    background: #f3f3f3;
    border-bottom: solid 4px #eeeeee;
    padding: 22px 47px 6px 47px;
    margin-left: 15px;
    text-align: left;
}*/